<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="mast_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.64916 -2.1253 1.9287"
        rpy="0 0 0" />
      <mass
        value="24.525" />
      <inertia
        ixx="13.322"
        ixy="1.9287E-15"
        ixz="6.1623E-16"
        iyy="14.301"
        iyz="0.028078"
        izz="1.2555" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mast_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mast_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>