<?xml version="1.0"?>
<model>
  <name>Mast</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
   <name>Drew Scheffer</name>
   <email>drewskis@umich.edu</email>
  </author>

  <description>
    This is a model of the mast used for IARC competition.
  </description>
</model>
